:root {
  --darkBlue:#071d30;
  --red:#AB3428;
  --yellow:#F5EE9E;
  --midYellow: rgb(250, 219, 118);
  --blue:#e4e5ff;
  --teal:#2D728F;
  --orange: rgb(255, 159, 14);
}

h1 {
  color: var(--yellow);
}

body {
  background-color: var(--darkBlue);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  top: 0;
  display: flex;
  justify-content: left;
  height: 5vh;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 3;
  transition: top 0s;
}
.navbar h4 {
  font-weight: 100;
  margin: 15px 30px;
  color: var(--midYellow);
}

#navButton {
  position: fixed;
  top: 3vw;
  right: 3vw;
  z-index: 3;
}

.about {
  position: relative;
  top: 5vh;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  width: 70vw;
  justify-content: center;
}
.about h3 {
  margin: 1vh 1vw;
  color: var(--midYellow);
}
.about h1 {
  font-size: 3.5em;
  margin: 0vh 1vw;
  color: var(--yellow);
}
.about h1 span.typed-text {
  color: var(--yellow);
}
.about h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.about h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

p {
  color: rgb(255, 242, 219);
  font-size: 1.2em;
  line-height: 1.6em;
}

.about p {
  max-width: 600px;
  margin: 1vh 1vw;
}

#resumeButton {
  margin: 3vh 1vw;
  height: 45px;
  width: 200px;
  background-color: var(--darkBlue);
  border: solid var(--orange) 2px;
  border-radius: 5px;
  color: var(--orange);
}

#left {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  align-items: center;
  z-index: 2;
}

.aboutMe {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh + 100vh/100vw);
  width: 70vw;
  justify-content: center;
  align-items: flex-start;
}
#aboutMeText {
  width: 40vw;
}
.aboutMe h1 {
  display: flex;
}
.aboutMe h1 hr {
  width: 33vw;
  height: 0px;
  border: 1px solid var(--orange);
}
#aboutMeText table {
  color: var(--orange);
}
#aboutMeText table td {
  padding-right: 5vw;
  padding-bottom: 1vh;
}


.whereIveWorked {
  width: 50vw;
  background-color: var(--darkBlue);
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.whereIveWorked h1 {
  margin-block-end: 0em;
  display: flex;
}
.whereIveWorked h1 hr {
  width: 13vw;
  margin-left: 1vw;
  height: 0;
  border: 1px solid var(--orange);
}
#workNav {
  display: flex;
  flex-flow: column nowrap;
  border-left: var(--orange) solid 2px;
  margin-top: 2vh;
}
#workNav div {
  padding: 1vw;
  color: var(--orange);
  height: 5vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#workInfo {
  color: var(--midYellow);
  padding: 1vw 3vw;
  height: 50vh;
}
#workInfo h3 {
  margin-block-end: 0vw;
}
#workInfo h4 {
  margin-block-end: 0vw;
  margin-block-start: 0.4vw;
}
#workInfo p {
  margin-block-end: 0vw;
  margin-block-start: 1vw;
  line-height: 1.2em;
}

::-webkit-scrollbar {
  background-color: var(--darkBlue);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

#me {
  width: 20vw;
  height: 20vw;
  margin: 20px;
  align-self: center;
}

/*calculates length of horizonta bar in aboutme section*/
@media only screen and (max-width: 2200px) and (min-width: 1600px) {
  .aboutMe h1 hr {
    width: 30vw;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1100px) {
  .aboutMe h1 hr {
    width: 25vw;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .aboutMe h1 hr {
    width: 22vw;
  }
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  .aboutMe h1 hr {
    width: 57vw;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .aboutMe h1 hr {
    width: 51vw;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .aboutMe h1 hr {
    width: 43vw;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .aboutMe h1 hr {
    width: 40vw;
  }
  h1 {
    font-size: 1.5em;
  }

  .about h1 {
    font-size: 1.65em;
  }
  .about h3 {
    font-size: 0.9em;
  }
  .about p {
    font-size: 0.7em;
  }
  .about {
    width: 90vw;
  }
}

@media only screen and (max-width: 300px) {
  .about h1 {
    font-size: 1.4em;
  }
  .about h3 {
    font-size: 0.7em;
  }
  .about {
    width: 90vw;
  }
  .about p {
    font-size: 0.5em;
  }
  .about {
    width: 90vw;
  }
  #resumeButton {
    width: calc(100vw/2);
  }
}

@media only screen and (max-width: 900px) {
  .aboutMe {
    width: 90vw;
  }
  #aboutMeText {
    width: 76vw;
  }
  #aboutMeText p {
    font-size: 0.9em;
  }
  #me {
    width: 250px;
    height: 250px;
  }
  #aboutMeText table {
    margin-left: auto;
    margin-right: auto;
  }
  .whereIveWorked {
    width: 85vw;
    height: 100vh;
  }
  #workNav div {
    width: 80px;
  }
  .workNavButton {
    font-size: 0.75em;
  }
  #workInfo p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  #workInfo {
    height: 70vh;
  }
  .navbar {
    transition: left .4s;
    top: -5vh;
    left: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
    width: 200px;
    position: fixed;
    backdrop-filter: blur(10px) brightness(80%);
    z-index: 3;
    transition: top 0s;
  }
  .navbar h4 {
    color: var(--orange);
  }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .about h1 {
    font-size: 2.5em;
  }
  .about p {
    font-size: 1em;
  }
  .about {
    width: 90vw;
  }
}

.Selected {
  background-color: #0b273f;
  border: var(--orange) 1px solid;
  border-left: none;
}

